[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
dagster-duckdb-pandas = "*"
dagster-duckdb = "*"
matplotlib = "*"
pandas = "*"
requests = "*"
dagster-webserver = "*"
streamlit = "==1.33.0"
supervisor = "*"

[dev-packages]

[requires]
python_version = "3.8"
